<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="two-day multisport event, running, biking, swimming">
    <meta name="author" content="Carl Youngberg">
    <title>Contact | Home</title>
    <link rel="stylesheet" href="css/css.css">
    
</head>
<body>
        <div><img id="logo" src="images/logo.jpg" alt="logo"></div>
    <header>
        <section>
            <div class="comp">
                <h1>Ace in the Hole Multisport Events</h1>
            </div>
                <div class="topnav">
                <a href="template.html">Home</a>
                <a href="events.html">Events</a>
                <a href="registration.html">Register</a>
                <a class="active" href="contact.html">Contact</a>
                </div>
            </section>
        </header>

  <h1>Keep in touch!</h1>
  <small>I'll get back to you as quickly as possible</small>
  
  <container>
      <form action="mailto:carl.youngberg@pcc.edu" method="post" enctype="text/plain">
    <input placeholder="Name" type="text" required /><br>
    <input placeholder="Email" type="email" required /><br>
    <input placeholder="Subject" type="text" required /><br>
    <input type="text" name="phone" placeholder="comments" size="50"><br><br>
    <input class="formBtn" type="submit" value="Send"/>
    <input class="formBtn" type="reset" value="Reset"/>
        </form>
</container>
        <footer>
                <div><img class="logo" src="images/logo.jpg" alt="logo"></div>
            <p>Ace In The Hole</p>
                    <img src="images/twitter.png" alt="twitter">
                    <img src="images/facebook.png" alt="facebook">
        </footer>
    
    </body>
</html>
